*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100wh;
    background-color: black;
    background-image: url("../img/background.png")
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 80px;
}
.logo{
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
    margin: 12px;
    width: 250px;
    background-color: rgba(211, 211, 211, 0.254);
    color: whitesmoke;
    cursor: pointer;
}
.logo:hover{
    background-color: lightgray;
    color: black;
}
.container .coin-price .logo img{
    width: 60px;
    margin-right: 10px;
}
.container .coin-price div h1{
font-size: 20px;
}
.content h1{
    font-size: 68px;
    margin-top: 15px;
    margin-left: 5px;
    color: whitesmoke;
}
.content h1 span{
    color: rgb(255, 179, 0);
}

.content p {
    font-size: 20px;
    margin: 15px;
    color: whitesmoke;
}
.graph{
    width: 60%;
    opacity: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 4vw;
}
#myChart{
    background-color: lightgray;
    box-shadow: 0 0 5px white;
}
.tradingview-widget-copyright{
    display: none;
}
.tradingview-widget-container{
    justify-content: center;
    display: flex;
    /* width: 85vw !important; */
    margin: auto;
    background-color: lightgray;
    opacity: 80%;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    margin-bottom: 30px;
}
.all_live_prices{
    display: flex;
    flex-direction: column;
    margin-top: 155px;
    margin-left: 4vw;
}
#graph_title{
    font-weight: 800;
    font-size: 25px;
    font-family: 'Lucida Sans';
    width: 100%;
}
.graph-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.graph-top > span {
    display: flex;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bolder;
}
#graph-days{
    color: black;
}
.icons{
    font-size: 50px;
    justify-content: flex-end;
    display: flex;
    margin-left: 65%;
}
.icons a{
    margin: 12px
}
.sub_title{
    display: flex;
}
.search{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
#search-button{
    cursor: pointer;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px white;   
    border: 1px solid black; 
    width: 100px;
    background-color: whitesmoke;
    overflow: hidden;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#search-button:hover{
    background-color: lightgray;
}
#search-box{
    width: 350px;
    border-radius: 13px;
    border: 1px solid black;
    text-indent: 5px;
}
.graph-button{
    margin-top: 10px;
}
#weekly-button, #monthly-button{
    background-color: whitesmoke;
    color: black;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 15px;
}
#weekly-button:hover, #monthly-button:hover{
    background-color: lightgray;
}
.footer{
    box-shadow: 0 0 5px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.846);
    margin-right: 4vw;
    margin-left: 4vw;
    margin-top: 20px;
}
.footer > h1{
    margin-top: 20px;
}
.instruction{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
}
.instruction *{
    margin: 5px;
}
#what-is{
    margin: 10px;
}
